In [18]:
import csv, json, codecs, sys
import urllib.request
import urllib.error
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Open-Meteo.com

# Координаты пастбища

In [110]:
latitude = 54.214106
longitude = 69.519512

# Параметры погоды

In [141]:
forecast_parameters = [
"temperature_2m_max",
"temperature_2m_min",
"apparent_temperature_max",
"apparent_temperature_min",
"precipitation_sum",
"rain_sum",
"showers_sum",
"snowfall_sum",
"precipitation_hours",
"precipitation_probability_max",
"precipitation_probability_min",
"precipitation_probability_mean",
"weathercode",
"sunrise",
"sunset",
"windspeed_10m_max",
"windgusts_10m_max",
"winddirection_10m_dominant",
"shortwave_radiation_sum",
"et0_fao_evapotranspiration",
"uv_index_max",
"uv_index_clear_sky_max",]

history_parameters = [
"temperature_2m_max",
"temperature_2m_min",
"apparent_temperature_max",
"apparent_temperature_min",
"precipitation_sum",
"rain_sum",
"snowfall_sum",
"precipitation_hours",
"weathercode",
"sunrise",
"sunset",
"windspeed_10m_max",
"windgusts_10m_max",
"winddirection_10m_dominant",
"shortwave_radiation_sum",
"et0_fao_evapotranspiration",]

def apply_params_to_URL(URL, parameters):
    URL += "&daily="
    for i, parameter in enumerate(parameters):
        if i < len(parameters) - 1:
            URL += parameter + ","
        else:
            URL += parameter
    URL += "&timezone=auto"
    
    print("URL updated: ", URL)
    return URL

def make_API_request(URL):
    try:
        # Convert from bytes to text
        resp_text = urllib.request.urlopen(URL).read().decode('UTF-8')
        # Use loads to decode from text
        json_obj = json.loads(resp_text)
        print("Successfull API request!")
        return json_obj
    except urllib.error.HTTPError  as e:
        ErrorInfo= e.read().decode()
        print('Error code: ', e.code, ErrorInfo)
        sys.exit()
    except  urllib.error.URLError as e:
        ErrorInfo= e.read().decode()
        print('Error code: ', e.code,ErrorInfo)
        sys.exit()
        

last_main_description = ""

def get_weather_mapping():
    global last_main_description
    
    url = "https://www.nodc.noaa.gov/archive/arc0021/0002199/1.1/data/0-data/HTML/WMO-CODE/WMO4677.HTM"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    weather_mapping = {}
    
    for i_table, table in enumerate(soup.select('table[BORDER]')):
        for i_row, row in enumerate(table.find_all('tr')[1:]):
            code_and_description = row.find_all('td')[:2]
            code = int(code_and_description[0].text.strip())
            description = code_and_description[1].text.strip()
            if not description.startswith("-"):
                last_main_description = description
            else:
                description = last_main_description
            weather_mapping[code] = description
            
            
    return weather_mapping

def weather_code_to_string(wmo_code):
    return weather_mapping.get(wmo_code, "Unknown Weather Code")

# Generate the weather mapping
weather_mapping = get_weather_mapping()

In [142]:
URL = f'https://api.open-meteo.com/v1/forecast?latitude={latitude}&longitude={longitude}'

In [143]:
URL = apply_params_to_URL(URL, forecast_parameters)

URL updated:  https://api.open-meteo.com/v1/forecast?latitude=54.214106&longitude=69.519512&daily=temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum,rain_sum,showers_sum,snowfall_sum,precipitation_hours,precipitation_probability_max,precipitation_probability_min,precipitation_probability_mean,weathercode,sunrise,sunset,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration,uv_index_max,uv_index_clear_sky_max&timezone=auto

In [144]:
forecast_json_obj = make_API_request(URL)

Successfull API request!

# Единицы измерении значении параметров погоды

In [145]:
forecast_json_obj["daily_units"]

{'time': 'iso8601',
 'temperature_2m_max': '°C',
 'temperature_2m_min': '°C',
 'apparent_temperature_max': '°C',
 'apparent_temperature_min': '°C',
 'precipitation_sum': 'mm',
 'rain_sum': 'mm',
 'showers_sum': 'mm',
 'snowfall_sum': 'cm',
 'precipitation_hours': 'h',
 'precipitation_probability_max': '%',
 'precipitation_probability_min': '%',
 'precipitation_probability_mean': '%',
 'weathercode': 'wmo code',
 'sunrise': 'iso8601',
 'sunset': 'iso8601',
 'windspeed_10m_max': 'km/h',
 'windgusts_10m_max': 'km/h',
 'winddirection_10m_dominant': '°',
 'shortwave_radiation_sum': 'MJ/m²',
 'et0_fao_evapotranspiration': 'mm',
 'uv_index_max': '',
 'uv_index_clear_sky_max': ''}

In [146]:
forecast_json_obj["daily"]["time"]

['2023-10-03',
 '2023-10-04',
 '2023-10-05',
 '2023-10-06',
 '2023-10-07',
 '2023-10-08',
 '2023-10-09']

# weathercode значения:
https://www.nodc.noaa.gov/archive/arc0021/0002199/1.1/data/0-data/HTML/WMO-CODE/WMO4677.HTM

# Предсказание погоды на 7 дней

In [148]:
forecast_df = pd.DataFrame(forecast_json_obj["daily"])

In [149]:
forecast_df

,time,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum,rain_sum,showers_sum,snowfall_sum,precipitation_hours,...,weathercode,sunrise,sunset,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration,uv_index_max,uv_index_clear_sky_max
0,2023-10-03,16.8,3.4,13.4,0.8,0.0,0.0,0.0,0.0,0.0,...,3,2023-10-03T07:27,2023-10-03T18:55,13.1,24.5,214,10.46,1.78,2.90,3.30
1,2023-10-04,16.2,5.2,12.0,2.3,0.0,0.0,0.0,0.0,0.0,...,3,2023-10-04T07:28,2023-10-04T18:52,20.5,36.4,220,6.97,1.82,2.50,3.20
2,2023-10-05,17.9,6.4,14.9,4.0,0.0,0.0,0.0,0.0,0.0,...,2,2023-10-05T07:30,2023-10-05T18:50,16.5,30.2,229,9.85,1.74,3.15,3.20
3,2023-10-06,17.5,7.2,15.3,5.0,0.0,0.0,0.0,0.0,0.0,...,3,2023-10-06T07:32,2023-10-06T18:47,11.8,22.0,197,7.57,1.46,2.50,3.15
4,2023-10-07,16.2,8.4,13.5,6.2,0.0,0.0,0.0,0.0,0.0,...,3,2023-10-07T07:34,2023-10-07T18:45,20.3,34.9,235,6.97,1.31,3.05,3.10
5,2023-10-08,18.4,8.9,13.5,6.7,1.1,1.1,0.0,0.0,5.0,...,61,2023-10-08T07:36,2023-10-08T18:42,24.2,43.2,175,7.57,2.29,2.50,2.85
6,2023-10-09,12.3,8.9,9.8,3.9,0.4,0.4,0.0,0.0,4.0,...,61,2023-10-09T07:38,2023-10-09T18:40,29.2,52.2,202,6.32,1.83,2.85,2.85

# История погоды по заданному диапазону

In [150]:
start_date = "2023-05-01" 
end_date = "2023-08-31"

In [151]:
Hist_URL = f"https://archive-api.open-meteo.com/v1/archive?latitude={latitude}&longitude={longitude}&start_date={start_date}&end_date={end_date}"

In [152]:
Hist_URL = apply_params_to_URL(Hist_URL, history_parameters)

URL updated:  https://archive-api.open-meteo.com/v1/archive?latitude=54.214106&longitude=69.519512&start_date=2023-05-01&end_date=2023-08-31&daily=temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,weathercode,sunrise,sunset,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration&timezone=auto

In [153]:
history_json_obj = make_API_request(Hist_URL)

Successfull API request!

In [155]:
history_df = pd.DataFrame(history_json_obj["daily"])

In [156]:
history_df

,time,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,weathercode,sunrise,sunset,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration
0,2023-05-01,12.6,1.1,8.0,-2.1,2.3,1.4,0.63,6.0,73,2023-05-01T05:45,2023-05-01T20:52,18.8,37.1,2,24.71,3.60
1,2023-05-02,14.5,0.4,11.3,-3.5,0.0,0.0,0.00,0.0,0,2023-05-02T05:43,2023-05-02T20:54,10.1,23.0,47,25.12,3.74
2,2023-05-03,18.2,-0.4,14.7,-4.5,0.0,0.0,0.00,0.0,0,2023-05-03T05:41,2023-05-03T20:56,14.5,25.9,162,25.35,4.53
3,2023-05-04,21.8,5.6,18.0,1.2,0.0,0.0,0.00,0.0,0,2023-05-04T05:39,2023-05-04T20:58,16.3,33.5,225,24.76,5.55
4,2023-05-05,23.1,8.2,18.4,3.7,0.0,0.0,0.00,0.0,0,2023-05-05T05:37,2023-05-05T21:00,19.6,42.1,247,25.44,6.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-08-27,17.2,9.2,15.4,8.3,0.8,0.8,0.00,5.0,51,2023-08-27T06:20,2023-08-27T20:26,9.8,24.1,60,12.91,2.17
119,2023-08-28,19.0,11.4,16.5,10.3,3.0,3.0,0.00,13.0,53,2023-08-28T06:22,2023-08-28T20:24,14.1,31.7,304,14.65,2.66
120,2023-08-29,18.1,12.1,14.0,9.3,1.9,1.9,0.00,7.0,51,2023-08-29T06:23,2023-08-29T20:22,30.1,52.6,153,5.67,2.53
121,2023-08-30,18.0,12.6,15.9,10.7,13.6,13.6,0.00,15.0,61,2023-08-30T06:25,2023-08-30T20:19,26.2,47.5,149,8.87,1.92
122,2023-08-31,15.8,10.7,12.2,7.2,4.8,4.8,0.00,12.0,63,2023-08-31T06:27,2023-08-31T20:17,24.9,52.6,166,13.30,2.46

In [160]:
history_df[history_df['time'].isin(['2023-05-04', '2023-05-05'])]

,time,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,weathercode,sunrise,sunset,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration
3,2023-05-04,21.8,5.6,18.0,1.2,0.0,0.0,0.0,0.0,0,2023-05-04T05:39,2023-05-04T20:58,16.3,33.5,225,24.76,5.55
4,2023-05-05,23.1,8.2,18.4,3.7,0.0,0.0,0.0,0.0,0,2023-05-05T05:37,2023-05-05T21:00,19.6,42.1,247,25.44,6.06